.container {
    display: inline-flex;
    align-items: center;
}

.multi-select-label {
    margin: 0 1rem;
}

.multi-select {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    width: 100%;
}

.multi-select-body-limiter {
    display: flex;
    overflow: hidden;
    height: 3rem;
}

.multi-select-body {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 14px;
}

.multi-select-chip {
    background: var(--blueGrey-200);
}

.extras {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.multi-select-expand-button {
    align-items: center;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(2.5rem - 2px);
    height: calc(2.5rem - 2px);
    justify-content: center;
}