.container {
    display: flex;
    align-items: center;
}

.multi-select-label {
    margin: 0 1rem;
}

.multi-select {
    align-items: stretch;
    border: 1px solid var(--grey-500);
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    width: 25rem;
}

.multi-select-body {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin: 0 0.5rem;
}

:root .multi-select-chip {
    background: var(--blueGrey-200);
}

.multi-select-expand-button {
    align-items: center;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(2.5rem - 2px);
    height: calc(2.5rem - 2px);
    justify-content: center;
}