@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "../theming/Colors.module.css";

.app {
    background: #ffffff40;
    backdrop-filter: blur(5px);
    box-shadow: 1px 0 0 #ffffff50 inset, -1px 0 0 #ffffff30 inset, 0 0 10px #00000030;
    display: grid;
    grid-template-rows: 250px 250px auto min-content;
    position: relative;
    width: 1200px;
    z-index: 1;
}

.app-body {
    background: var(--grey-50);
    display: grid;
    grid-template-rows: 250px 250px auto min-content;
    position: relative;
    width: 1200px;
    z-index: 1;
}

main {

}

.hero-image {
    background: url(../images/Experiments.jpg) center;
}

footer {
    background: #111111cc;
    color: var(--grey-300);
    font-family: 'Montserrat';
    font-size: 0.75rem;
    margin-top: 2rem;
    padding: 0.5rem 0;
    text-align: center;
}

.app-background {
    background: linear-gradient(to bottom left, #0d1725, transparent),
        linear-gradient(to bottom right, #040609, transparent),
        linear-gradient(to top left, #2e313c, transparent),
        linear-gradient(to top right, #a3bfd7, transparent);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 0;
}





@media screen and (max-width: 600px) {
    .app {
        filter: unset;
        margin: 0;
    }
}