@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "../theming/Colors.module.css";

.app {
    display: grid;
    grid-template-rows: 250px auto min-content;
    position: relative;
    width: 1200px;
    z-index: 1;
}

.app-body {
    background: var(--grey-50);
    display: grid;
    grid-template-rows: 250px 250px auto min-content;
    position: relative;
    width: 1200px;
    z-index: 1;
}

main {

}

.hero-image {
    background: url(../images/Experiments.jpg) center;
}

footer {
    background: var(--grey-900);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--grey-300);
    font-size: 0.75rem;
    justify-self: center;
    margin-top: 2rem;
    padding: 0.15rem 2rem;
    text-align: center;
}

.app-background {
    background: linear-gradient(to bottom left, #0d1725, transparent),
        linear-gradient(to bottom right, #040609, transparent),
        linear-gradient(to top left, #2e313c, transparent),
        linear-gradient(to top right, #a3bfd7, transparent);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 0;
}





@media screen and (max-width: 600px) {
    .app {
        filter: unset;
        margin: 0;
    }
}