:root {
    --lightGreen-900: #20731e;
    --lightGreen-800: #489530;
    --lightGreen-700: #5ca93a;
    --lightGreen-600: #71be44;
    --lightGreen-500: #80cf4c;
    --lightGreen-400: #93d668;
    --lightGreen-300: #a8de84;
    --lightGreen-200: #c1e8a8;
    --lightGreen-100: #daf1ca;
    --lightGreen-50: #f0faea;

    --lightGreen-A100: #f0faea;
    --lightGreen-A200: #f0faea;
    --lightGreen-A400: #f0faea;
    --lightGreen-A700: #f0faea;
}