@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "./theming/Colors.module.css";

.app {
    background: var(--grey-100);
    height: 100vh;
    text-align: center;
    width: 100vw;
}

.app-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.separator {
    margin: 0 0 3rem 0;
    /* border-color: var(--steel-400); */
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 42rem;
}

.app-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
