:root {
    --steel-900: #282c34;
    --steel-800: #3b404b;
    --steel-700: #4b5261;
    --steel-600: #5c6677;
    --steel-500: #697488;
    --steel-400: #7f8899;
    --steel-300: #969dab;
    --steel-200: #b4b9c3;
    --steel-100: #d1d5da;
    --steel-50: #edeeef;
}