@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Source+Code+Pro&display=swap");

html {
    height: 100%;
}

body {
    background: url("./images/Room A.jpg");
    background-size: cover;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

code {
  font-family: 'Source Code Pro', monospace;
}

#root {
    display: grid;
    justify-content: space-around;
    min-height: 100%;
}