@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap');

html {
    height: 100%;
}

body {
    background: var(--grey-200);
    font-family: "Montserrat", serif;
    height: 100%;
}

code {
  font-family: 'Source Code Pro', monospace;
}

#root {
    display: grid;
    justify-content: space-around;
    min-height: 100%;
}